@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik+Iso&display=swap");
/* Estilo geral */
:root {
  --bgPrimary: #121214;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

body {
  background-image: url('./../images/mathBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: linear-gradient(#0096c7, #00b4d8, #48cae4);
  width: 50%;
  height: 500px;
  border-radius: 8px;
  /* border: 1px solid white; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    color: red;
  }
}

.questions-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.barra-container {
  width: 100%;
  height: 50px;
  margin: 20px;
  .barra {
    width: 100%;
    height: 100%;
    transition: width 0.1s linear;
    background-color: green;
  }
  .temp {
  font-size: 20px;
  }
}

.question {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  max-width: 100%;
}
.equation {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  max-width: 100%;
}
.answer-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(220px, 1fr));
  .answer {
    display: block; /* garante que width funcione */
    width: 80%; /* largura do botão dentro da célula */
    justify-self: center; /* centraliza o botão na célula do grid */
    padding: 12px 18px;
    box-sizing: border-box;
  }
}

.next-question {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px;
  font-size: 1em;
}
.controle-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 50px;
}
.quiz-title {
  color: var(--bgPrimary);
  margin-left: 10px;
  font-size: 3rem;
  text-align: center;
  font-family: "Rubik Iso";
}
.start-quiz {
  align-self: center;
  font-family: "Chakra Petch";
}
.button {
  background-color: blue;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  border-radius: 6px;
  height: 48px;
  padding: 0 32px;
  text-align: center;
  margin: 15px 30px;
}

.button:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 1px 1px 5px rgba(0, 0, 255, 0.587);
}

.button:not(:disabled):hover {
  filter: brightness(0.8);
}

.final-message {
  font-size: 20px;
  text-align: center;
}

.final-message span {
  display: block;
  margin-top: 8px;
}

.hide {
  display: none;
}

.feedback {
  margin: 10px 0;
  text-align: center;
  font: bolder 1.5em Arial;
  color: aqua;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.no-change {
  background-color: blue;
}

/* Media Query para telas menores */
@media (max-width: 600px) {
  .question {
    font-size: 18px; /* Diminuir o tamanho do texto da pergunta em telas pequenas */
  }

  .answer-container {
    grid-template-columns: 1fr; /* Respostas ocupam uma coluna em dispositivos pequenos */
  }

  .button {
    font-size: 14px;
    padding: 0 16px; /* Ajustar os botões para caberem melhor */
  }

  .container {
    width: 90%; /* Garantir que o container ocupe a largura total da tela */
    text-align: center;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .question {
    font-size: 18px; /* Diminuir o tamanho do texto da pergunta em telas pequenas */
  }

  .answer-container {
    justify-content: space-between;
    padding: 0 10px;
  }

  button.answer {
    font-size: 14px;
    padding: 0 16px; /* Ajustar os botões para caberem melhor */
    width: 60%;
  }

  .container {
    text-align: center;
    padding: 30px 0;
  }
}
